<app-section-title [title]="'Add User'"></app-section-title>

<div class="container">
  <div class="card">
    <div class="card-header">Please Add an User</div>
    <form [formGroup]="addUserForm" (ngSubmit)="addUser()">
      <div class="form-field">
        <label>Name</label>
        <input
          type="email"
          placeholder="enter your name"
          formControlName="name"
        />
      </div>
      <div class="form-field">
        <label>Email</label>
        <input
          type="email"
          name="email"
          placeholder="enter your email"
          formControlName="email"
        />
      </div>

      <button class="button box fadeIn" type="submit">
        <mat-icon style="margin-right: 4px">person_add</mat-icon>
        <span> Add User</span>
      </button>
    </form>
  </div>
</div>
