<mat-toolbar color="primary" class="mat-elevation-z6">
  <img
    src="https://i.ibb.co/BjR9Nnw/Untitled-design-5.png"
    class="logo"
    alt=""
  />
  <span class="title"> GroupFundr</span>


  <div class="spacer">

    <ng-container *ngIf="isLoggedIn; else loginButton">
      <a mat-raised-button color="accent" (click)="logout()">Logout</a>
    </ng-container>
    <ng-template #loginButton>
      <a routerLink="login" mat-raised-button color="accent">Login</a>
    </ng-template>
  </div>
</mat-toolbar>
