.logo {
  width: 50px;
}
.title {
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.spacer {
  display: flex;
  justify-content: right;

  width: 100%;
}

.spacer a {
  text-decoration: none;
}
