 

<div class="container">
  <div class="card">
    <div class="card-header">Please Login</div>
    <form [formGroup]="loginForm" (ngSubmit)="login(); formSubmitted = true">
      <div class="form-field">
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Email*"
          [ngClass]="{
            error:
              loginForm.get('email')?.invalid &&
              (loginForm.get('email')?.touched || formSubmitted)
          }"
        />
        <div
          *ngIf="
            loginForm.get('email')?.invalid &&
            (loginForm.get('email')?.touched || formSubmitted)
          "
          class="error-message"
        >
          {{ getErrorMessage("email") }}
        </div>
      </div>
      <div class="form-field">
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Password*"
          [ngClass]="{
            error:
              loginForm.get('password')?.invalid &&
              (loginForm.get('password')?.touched || formSubmitted)
          }"
        />
        <div
          *ngIf="
            loginForm.get('password')?.invalid &&
            (loginForm.get('password')?.touched || formSubmitted)
          "
          class="error-message"
        >
          {{ getErrorMessage("password") }}
        </div>
      </div>

      <button class="button box fadeIn" type="submit">Login</button>

      <p class="">
        Don't have an account? <a routerLink="/register">Please Register</a>
      </p>

      <button class="button" (click)="signInWithGoogle()" type="button">
        <span>G</span> SignIn With Google
      </button>
    </form>
  </div>
</div>
