


<mat-drawer-container>
  <mat-drawer #drawer opened="true" mode="side" position="start" class="sidebar">
    <mat-list class="list-contents">
      <mat-list-item>
        <button mat-button routerLinkActive="active" routerLink="addUser">
          <mat-icon>person_add</mat-icon>

          Add User
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="addGroup" routerLinkActive="active">
          <mat-icon>group_add</mat-icon>

          Add Group
        </button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
