body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #485AC2;
  color: #fff;
  padding: 10px;
  font-weight: bold;
}

.form-field {
  margin-bottom: 20px;
}

.form-field label {
  font-weight: bold;
}

.form-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #485AC2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #314090;
}

p {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

p a {
  text-decoration: underline;
}
