body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #485ac2;
  color: #fff;
  padding: 10px;
  font-weight: bold;
}

.form-field {
  margin-bottom: 20px;
}

.form-field label {
  font-weight: bold;
}

.form-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button span {
  font-weight: bold;
  margin-right: 5px;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; /* Add this line */

  padding: 12px 24px;
  background-color: #485ac2;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: width 0.3s ease;
}

.button:hover::before {
  width: 100%;
}

p {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

p a {
  text-decoration: underline;
}
